<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultBackground</key>
	<string>#F8F8F8</string>
	<key>whiteBackground</key>
	<string>#FFFFFF</string>
	<key>textLabel</key>
	<string>#000000</string>
	<key>textFieldBackground</key>
	<string>#FFFFFF</string>
	<key>dark</key>
	<string>#1f1f39</string>
	<key>lighterGreen</key>
	<string>#8fe391</string>
	<key>darkerGreen</key>
	<string>#a2dea4</string>
	<key>steel</key>
	<string>#858597</string>
	<key>lightGray</key>
	<string>#b2b2b2</string>
	<key>softGreen</key>
	<string>#7ad87d</string>
	<key>TabBar</key>
	<dict>
		<key>selectedColor</key>
		<string>#7B85F9</string>
		<key>selectedTextColor</key>
		<string>#7B85F9</string>
		<key>unSelectedColor</key>
		<string>#B7B7B7</string>
		<key>unSelectedTextColor</key>
		<string>#B7B7B7</string>
	</dict>
	<key>NavBar</key>
	<dict>
		<key>backgroundColor</key>
		<string>#FFFFFF</string>
		<key>textColor</key>
		<string>#000000</string>
		<key>font</key>
		<dict>
			<key>weight</key>
			<string>regular</string>
			<key>size</key>
			<integer>17</integer>
			<key>font</key>
			<string>Poppins</string>
		</dict>
		<key>BarButton</key>
		<dict>
			<key>font</key>
			<dict>
				<key>weight</key>
				<string>black</string>
				<key>size</key>
				<integer>17</integer>
				<key>font</key>
				<string>Poppins</string>
			</dict>
			<key>textColor</key>
			<string>#000000</string>
		</dict>
	</dict>
</dict>
</plist>
